<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container" id="indexContainer">
		<div style="">
			<div class="row" id = "indexHead">


					<div class="col-sm-12">
						
			        	<div id="logo">
							<a href="{{pathToRoot}}demos/imageDist.html">
								<img id="logoImg" src="{{pathToRoot}}img/home/logo-gen.png"></img>
							</a>
						</div>
						<div id="headerText" style="padding-bottom:15px;">
							<div id="title">
								CS109: Intro to Probability for Computer Scientists
							</div>
							<div>
								Spring 2016
							</div>
							<div>
								Monday, Wednesday, Friday 3pm to 4:20pm in <a href="https://campus-map.stanford.edu/?id=&lat=37.433092654920046&lng=-122.17188691299998&zoom=15&srch=320-105">320-105</a> (Geology Corner Auditorium)
							</div>
						</div>
					</div>
	        	</div>
	        </div>

        <div class="row">
			<div class="col-sm-12">
				<hr/>

				<!--<div class="alert alert-success" role="info">We are using socrative today in class. Go to <a href="https://b.socrative.com/login/student/">https://b.socrative.com/login/student/</a> and use the Room Name: <b>CS109SPR</b></div>-->
			</div>
		</div>

        
        
        <div class="row">

			<div class="col-sm-3" id="infoCol">
				<!-- Links -->
				<div>
					<p class="subtleHeading">RESOURCES</p>

					<!--<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="">Staff</a><br/>-->

					<span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/overview.html">Course Overview</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/staff.html">Staff / Office Hours</a> <br/>

					<img src="img/icons/piazza-icon.png" class="sidebaricon" alt="icon">
					<a href="https://piazza.com/stanford/spring2016/cs109/home">Piazza</a> <br/>

					
					<!--<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Text Book</a> <br/>-->

				

					<!--<span class="sidebaricon glyphicon glyphicon-backward" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/past.html">Past Quarters</a> <br/>-->


					<img src="img/icons/socrative.png" class="sidebaricon" alt="icon">
					<a href="https://b.socrative.com/login/student/">Socrative</a> <br/>

					<!--<img src="img/icons/spotify.ico" class="sidebaricon" alt="icon">
					<a href="https://play.spotify.com/user/1251835474/playlist/3O343f5rIdxCMofp8rCzcs?play=true&utm_source=open.spotify.com&utm_medium=open">Spotify Playlist</a> <br/>-->
					
					

					

					<!--<span class="sidebaricon glyphicon glyphicon-film" aria-hidden="true"></span>
					<a href="">Videos</a> <br/>-->
				</div>

				<hr/>

				<div>
				<p class="subtleHeading">PROBLEM SETS</p>
				
					<!--<div class="well well-sm" style="margin-bottom:10px">
						<a href="{{pathToRoot}}/assn/life.html">Problem Set 1</a>
					</div>-->

					<span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true"></span>
					<a href="{{pathToRoot}}pdfs/HO04 ProblemSet1.pdf"> Problem Set 1</a>
					
				</div>
				<hr/>

				<div>
				<p class="subtleHeading">EXAMS</p>
					<p>
						Midterm<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Tuesday, May 3rd<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 7-9pm
					</p>
					<p>
						Final<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
						Monday, June 6th<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 3:30-6:30pm
					</p>
				</div>
				<hr/>

				<p class="subtleHeading">Staff</p>

				<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> cs109@cs.stanford.edu<br/>


				<a href="handouts/staff.html">
					<img src="img/people/staff.png" style="width:100%;margin-top:5px" class="img-responsive"></img>
				</a>
				<hr/>

					

				<!-- Handouts 
				<div>
					<p class="subtleHeading">HANDOUTS</p>

					<a href="">1. Syllabus</a><br/>
					<a href="">2. Class Placement</a><br/>
					<a href="">3. Honor Code</a><br/>
				</div>-->



				<p class="subtleHeading">Professor</p>
				<div class="staffBox">
					<!--<img src="img/people/chris.bmp" class="staffImg"></img><br/>-->
					<a href="http://stanford.edu/~cpiech">Chris Piech</a> <br/>
					<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br/>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Thur 2-4pm
				</div>

				
				
				<!--<div class="staffBox">
					<img src="img/people/megan.jpeg" class="staffImg"></img><br/>
					Head TA: Megan Faulk<br/>
					<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> mfaulk@stanford.edu<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates B02<br/>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tue, Th 9:00-10:30am 
				</div>-->

				<div style="height:10px"></div>

				<hr/>
				
			</div>
			<div class="col-sm-9" >
				<!-- Newsfeed -->
				<div>

					<p class="subtleHeading">NEWSFEED</p>


					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Problem Set 1</div>
							<div class="moment">2016033014</div>
						</div>
						<p>
							 <a href="pdfs/HO04 ProblemSet1.pdf">Problem Set 1</a> it out. It covers counting and core probability. It is due April 8th at 2:30pm. Submission will be online -- more instructions coming soon.</p>
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Tiny Feedback</div>
							<div class="moment">2016033014</div>
						</div>
						<p>
							We are doing a little probabilistic experiment in CS109. We will use a small amount of student feedback to deduce fine-grained information on how the class is going. Helping out will be part of the class participation grade (if you opted out of class participation, then your contribution to this experiment is totally voluntary). All you need to do is provide a tiny bit of feedback (estimated 1 min effort). Each student gets their own class days. Your days were sent to you via email. If you didn't get any, let us know.
						</p>
					</div>

					

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">LaTex</div>
							<div class="moment">2016033008</div>
						</div>
						<p>
							 You can optionally write up your problem sets using the LaTex system. See this <a href="stuff/intro.pdf">intro</a> to LaTex, and the <a href="stuff/intro.tex">LaTex code</a> used to generate it. You can use this LaTex <a href="stuff/template.tex">template</a> custom made for CS109 problem sets.
An online LaTeX editor and compiler is available at <a href="https://www.writelatex.com">www.writelatex.com</a>.
</p>

<p>
Former CS109 student Joe Delgado has written a nunber of snippets for Latex in Sublime, which he has made available on <a href="https://github.com/djoeman84/Latex-Math-Snippets">github</a>.</p>
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">NYT Article on Stats</div>
							<div class="moment">2016032714</div>
						</div>
						<p>
							 <div class="media">
							  <div class="media-left">
							    <div style="width:80px;">
							      <img class="media-object" src="https://s0.wp.com/wp-content/themes/vip/nytimes-witw/img/global/nyt-t-logo.png" style="width:80px">
							    </div>
							  </div>
							  <div class="media-body">
							    An article from the New York Times discusses the increasing importance of statistics in computing. The article is entitled <a href="http://www.nytimes.com/2009/08/06/technology/06stats.html">For Today's Graduate, Just One Word: Statistics</a>. On a similar vein, The Wall Street Journal published an article entitled <a href="http://www.wsj.com/articles/SB10001424052702304871704575160553254798886">New Hiring Formula Values Math Pros</a> talking about how employers are seeking computer scientists with training in statistics and probability. CS109 is specifically mentioned.
							  </div>
							</div>
						</p>
					</div>


					


					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Piazza</div>
							<div class="moment">2016032714</div>
						</div>
						<p>
							 This quarter CS109 is using Piazza to facilitate questions. Everyone should sign up: <a href="https://piazza.com/stanford/spring2016/cs109/home">https://piazza.com/stanford/spring2016/cs109/home</a>. Use Piazza to ask course related questions and see answers to other student questions. For personal questions please email Chris.
							 <br/>
							<!--<div >
								<a href="https://www.facebook.com/symlabs/">
									<center>
										<img src="{{pathToRoot}}img/home/piazza.png" style="width:30%; margin-top:10px"></img>
									</center>
								</a>
							</div>-->
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Class Location</div>
							<div class="moment">2016032714</div>
						</div>

						<p>
							Class starts Monday, March 27th at 3pm in 320-105.
							<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
							<div class="google-maps">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d792.1083085304249!2d-122.17250717077393!3d37.426869063750196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDI1JzM2LjciTiAxMjLCsDEwJzE5LjEiVw!5e0!3m2!1sen!2sus!4v1458337503476" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

							
							</div>
						</p>

					</div>
					

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Welcome!</div>
							<div class="moment">2016032714</div>
						</div>

						<p>
							Welcome to CS109. We are looking forward to a fun quarter.
						</p>

					</div>


					<!--  End of hidden part  -->
					<!--</div>-->
					

				</div>
			</div>
		</div>

		%include templates/parts/footer.html


	</div>

	<!--<script>
		var BOTTOM_POS = 0;
		var INFO_COL = null;

		window.onload = function() {
			// inforCol_absBottomY - screen_height
			//var infoTop = document.getElementById("infoCol").getBoundingClientRect().top;
			//var infoHeight = $("#infoCol").height()
			//BOTTOM_POS = infoTop + infoHeight - screen.height;
			INFO_COL = $('#infoCol')
		}

		window.onscroll = function () {
			// point at which I want to start scrolling is about 866
			// offset from the scroll top is about 875
			var topPos = $(document.body).scrollTop() - 875;
			//console.log($(document.body).scrollTop())
			INFO_COL.css({"position" : "relative", "top" : topPos});
		};
	</script>-->

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDDHH").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

	<script>
	    $.get("http://ipinfo.io", function(response) {
	    	console.log(response);
	    	if(!(response.region === 'California')) {
	    		$('#myModal').modal()
	    	} 
	    	
		}, "jsonp");
	</script>

	

</body>
