<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Problem Set 5, Question 12
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		

		<div class="row">
			<div class="col-sm-12">
				<p>
					The details of question 12 will be released by Wednesday May 11th.
				</p>
				
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

	

</body>
