<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Course Overview
					</h1>
					<p>
						Created by Chris Piech
					</p>
					

				</div>
				<hr/>



				<center>
					<!--<img style="width:80%" src="{{pathToRoot}}img/overview/overview.png">-->	
				</center>
			</div>
		</div>

			

		<div class="row">
			<div class="col-sm-12">
				<p>
					The class starts by providing a fundamental grounding in combinatorics, and then quickly
moves into the basics of probability theory. We will then cover many essential concepts
in probability theory, including particular probability distributions, properties of
probabilities, and mathematical tools for analyzing probabilities. Finally, the last third of
the class will focus on data analysis and Machine Learning as a means for seeing direct
applications of probability in this exciting and quickly growing subfield of computer
science.
				</p>

				<hr/>
			</div>
		</div>
		
		
				
		<div class="row">
			<div class="col-sm-12">

				<div class="alert alert-success">
					<b>Note on videos</b>: By popular demand we are making videos of CS109 classes. Our intention is for the videos to be an extra feature we produce as staff to make the class a better experience (were all about the better experience). This quarter CS109 is not "SCPD" so we are not professionally recorded. You can expect for videos to be uploaded within 24 hours of class. The videos are hosted by YouTube but are unlisted (only people with the link can find them).
				</div>

				<div class="alert alert-success">
					<b>Note on slides</b>: In class I sometimes use slides to facilitate lecture. On their own they are not a great study resource. Here is a <a href="{{pathToRoot}}ppt">link to the slides directory</a> in case you have use for them.
				</div>

				<h2>
					Schedule
				</h2>
				<p>
					The schedule is subject to change by the management at any time with high probability.
				</p>
				<p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="col-xs-1">Date</th>
								<th class="col-xs-3">Topic</th>
								<th class="col-xs-2">Files</th>
								<th class="col-xs-3">Reading</th>
								<th class="col-xs-3">Assignment</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th colspan = "6"><b>
								<br/>[Counting]</b></th>
							</tr>

							<!-- 1 -->
							<tr class="overviewRow">
								<td>Mar 28</td>
								<td>
									Counting
								</td>
								<td>
									<a href="{{pathToRoot}}/pdfs/HO02 Counting.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}/ppt/1-Welcome.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>
									
								</td>
								<td>Chapter 1.1 - 1.2</td>
								<td></td>
							</tr>

							<!-- 2 -->
							<tr class="overviewRow">
								<td>Mar 30</td>
								<td>
									Permutations and Combinations
								</td>
								<td>
									<a href="{{pathToRoot}}/pdfs/HO05 Combinatorics.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/EC9ZXD6mebo"><span class="overviewIcon glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/2-Combinatorics.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 1.3 - 1.6</td>
								<td></td>
							</tr>
							
							<tr>
								<th colspan = "6"><b>
								<br/>[Core Probability]</b></th>
							</tr>

							<!-- 3 -->
							<tr class="overviewRow">
								<td>Apr 1</td>
								<td>
									Axioms of Probability
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO06 Probability.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/oYXYLljkC48"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

								

									<a href="{{pathToRoot}}/ppt/3-IntroProbability.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

										<a href="{{pathToRoot}}demos/serendipity.html"><span class="glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span></a>

									
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 2.1-2.5, 2.7</td>
								<td></td>
							</tr>

							<!-- 4 -->
							<tr class="overviewRow">
								<td>Apr 4</td>
								<td>
									Conditional Probability, Bayes Theorem
								</td>
								<td>
									<a href="{{pathToRoot}}/pdfs/HO07 CondProbability.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/wB0z0nQebNc"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									

									<a href="{{pathToRoot}}/ppt/4-ConditionalProbability.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}demos/naturalBayes.html"><span class="glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span></a>
								</td>
								<td>Chapter 3.1-3.3</td>
								<td></td>
							</tr>

							<!-- 5 -->
							<tr class="overviewRow">
								<td>Apr 6</td>
								<td>
									Independence
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO08 Independence.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/CJ8GuZZBc40"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/5-Independence.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 3.4-3.5</td>
								<td></td>
							</tr>



							<!-- 6 -->
							<tr class="overviewRow">
								<td>Apr 8</td>
								<td>
									Random Variables, Expectation
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO10 Random Variables.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/bX7iqWlzC0c"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/6-RandomVariables.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 4.1-4.4</td>
								<td>Due: PSet #1</td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br/>[Distributions]</b></th>
							</tr>

							<!-- 7 -->
							<tr class="overviewRow">
								<td>Apr 11</td>
								<td>
									Variance, Bernoulli and Binomial
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO11 Variance.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/tgTj6fwbmj8"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/7-Variance.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>


									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 4.5-4.6</td>
								<td></td>
							</tr>

							

							<!-- 8 -->
							<tr class="overviewRow">
								<td>Apr 13</td>
								<td>
									Discrete Distributions
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO12 Poisson.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/3s7LVkkpRko"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									

									<a href="{{pathToRoot}}/ppt/8-MoreDiscreteDist.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}code/weather.zip"><span class="glyphicon glyphicon-grain" title="code" aria-hidden="true"></span></a>

									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 4.7-4.10</td>
								<td></td>
							</tr>

							<!-- 9 -->
							<tr class="overviewRow">
								<td>Apr 15</td>
								<td>
									Continuous Random Variables
								</td>
								<td>

									<a href="{{pathToRoot}}/pdfs/HO13 Continuous.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://youtu.be/W57yYpyL5do"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/9-ContinuousDist.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}demos/jurors.html"><span class="glyphicon glyphicon-leaf" title="code" aria-hidden="true"></span></a>

									

									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 5.1-5.3</td>
								<td></td>
							</tr>

							<!-- 10 -->
							<tr class="overviewRow">
								<td>Apr 18</td>
								<td>
									Normal Distributions
								</td>
								<td>
									<a href="{{pathToRoot}}/pdfs/HO16 Gaussian.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="https://www.youtube.com/watch?v=a-8cX3BnVmU"><span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span></a>

									<a href="{{pathToRoot}}/ppt/10-Normal.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}demos/cdf.html"><span class="glyphicon glyphicon-leaf" title="code" aria-hidden="true"></span></a>
								</td>
								<td>Chapter 5.4-5.6</td>
								<td>Due PSet #2</td>
							</tr>

							<!-- 11 -->
							<tr class="overviewRow">
								<td>Apr 20</td>
								<td>
									Joint Distribution Functions
								</td>
								<td>
									<a href="{{pathToRoot}}/pdfs/HO18 Joint.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<span class="glyphicon glyphicon-facetime-video" title="video" aria-hidden="true"></span>

									<a href="{{pathToRoot}}/ppt/11-Joint.pdf"><span class="glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}demos/imageDist.html"><span class="glyphicon glyphicon-leaf" title="code" aria-hidden="true"></span></a>
								</td>
								<td>Chapter 6.1</td>
								<td></td>
							</tr>

							<!-- 12 -->
							<tr class="overviewRow">
								<td>Apr 22</td>
								<td>
									Independent Random Variables
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 6.2-6.3</td>
								<td></td>
							</tr>

							<!-- 13 -->
							<tr class="overviewRow">
								<td>Apr 25</td>
								<td>
									Conditional Distributions
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 6.4-6.5</td>
								<td></td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br/>[Advanced Probability]</b></th>
							</tr>

							<!-- 14 -->
							<tr class="overviewRow">
								<td>Apr 27</td>
								<td>
									Properties of Expectation
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 7.1-7.2</td>
								<td>Due: PSet #3</td>
							</tr>

							<!-- 15 -->
							<tr class="overviewRow">
								<td>Apr 29</td>
								<td>
									Covariance Correlation
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 7.3-7.4</td>
								<td></td>
							</tr>

							<!-- 16 -->
							<tr class="overviewRow">
								<td>May 2</td>
								<td>
									Conditional Expectation
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 7.5-7.6</td>
								<td></td>
							</tr>

							<!-- 17 -->
							<tr class="overviewRow">
								<td>May 4</td>
								<td>
									Moment Generating Functions
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 7.7</td>
								<td></td>
							</tr>

							<!-- 18 -->
							<tr class="overviewRow">
								<td>May 6</td>
								<td>
									Helpful Inequalities and Theorems
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 8.1-8.2, 8.5</td>
								<td></td>
							</tr>

							<!-- 19 -->
							<tr class="overviewRow">
								<td>May 9</td>
								<td>
									Central Limit Theorem
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>Chapter 8.3-8.4</td>
								<td>Due PSet #4</td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br/>[Machine Learning]</b></th>
							</tr>

							<!-- 20 -->
							<tr class="overviewRow">
								<td>May 11</td>
								<td>
									Learning
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>

							<!-- 21 -->
							<tr class="overviewRow">
								<td>May 13</td>
								<td>
									Maximizing Likelihood
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>

							<!-- 22 -->
							<tr class="overviewRow">
								<td>May 16</td>
								<td>
									Priors
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>

							<!-- 23 -->
							<tr class="overviewRow">
								<td>May 18</td>
								<td>
									Naive Bayes
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td>Due PSet #5</td>
							</tr>

							<!-- 24 -->
							<tr class="overviewRow">
								<td>May 20</td>
								<td>
									Logistic Regression
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>

							<!-- 25 -->
							<tr class="overviewRow">
								<td>May 23</td>
								<td>
									Neural Networks
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>

							<!-- 26 -->
							<tr class="overviewRow">
								<td>May 25</td>
								<td>
									Applied Machine Learning
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td></td>
							</tr>
							
							<!-- 27 -->
							<tr class="overviewRow">
								<td>May 27</td>
								<td>
									Review for Final Exam
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td>TBA</td>
								<td>Due PSet #6</td>
							</tr>

							<!-- 27 -->
							<tr class="overviewRow">
								<td>Jun 1</td>
								<td>
									Dead Day (no class)
								</td>
								<td>
									<!--<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>-->
								</td>
								<td></td>
								<td></td>
							</tr>

						</tbody>
					</table>

				</p>
				<!--<hr/>-->
			</div>
		</div>

		<!--<div class="row">
			<div class="col-sm-12">
				<h2>
					Discussion Sections
				</h2>
				<p>
					In addition to lecture, you must sign up for a weekly 50-minute section. In order to take
CS 106B, you must sign up for a section between 5:00P.M., Thursday, January 7, and the
close of enrollments at 5:00P.M. on Sunday, January 10. Please use the signup form at
<a href="http://cs198.stanford.edu/section/">http://cs198.stanford.edu/section/</a>. Important note: Do not use Axess to sign
up for sections; section enrollments made through Axess are simply ignored.
				</p>
				<hr/>
			</div>
		</div>-->

		<!--<div class="row" id="grades">
			<div class="col-sm-12">
				<h2>
					Grades
				</h2>
				<p>
					Your final grade in this course will be calculated using the following weights:
				</p>
				<div class="well" style="width:280px">
					<h4>Weights</h4>
					<table class="table table-condensed" style="margin-bottom:0px;">
						<tbody>
							<tr>
								<td style="width: 180px">Section Participation</td>
								<td>10%</td>
							</tr>
							<tr>
								<td style="width: 120px">Programs</td>
								<td>50%</td>
							</tr>
							<tr>
								<td style="width: 120px">Midterm</td>
								<td>15%</td>
							</tr>
							<tr>
								<td style="width: 120px">Final</td>
								<td>25%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p>
					
					Each of the exams is scaled to take account of the difficulty of the exam, which is nearly
impossible to assess in advance. The other components and the final grade are not
curved. If everyone does brilliantly in this class, everyone gets an A.
				</p>
				<hr/>
			</div>
		</div>-->

		

		<!--<div class="row">
			<div class="col-sm-12">
				<h2>
					Programming Assignments
				</h2>
				<p>
					CS 106B requires seven programming assignments, which are due on the dates given in
the syllabus. Except for Assignment #7 (which is due at the very end of the quarter),
your section leader will grade each of your assignments and then discuss how well you
have done (and how you can improve on future assignments) in an interactive,
one-on-one session. Assignments are graded separately for functionality and style.
				</p>
				<hr/>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-8">
			<h2>
				Late Policy
			</h2>
		</div>
			<div class="col-sm-9">
				

				<div class="subsection">
					
					<p>
						Each of the assignments is due at 5:00P.M. on the day specified in the syllabus.
Assignments are submitted electronically using the procedure described in the first
assignment. Important note: all assignments are due at 5:00P.M. sharp on the dates
indicated on the assignment handout. Assignments submitted after 5:00 will be
considered late.
					</p>
					<p>
						Because each of you will probably come upon some time during the quarter where so
much work piles up that you need a little extra time, every student begins the quarter with
three free “late days.” To avoid any ambiguity, a “day” is defined as a class day. Thus, if
your assignment was due on Friday but turned in the following Monday, that assignment
would be one day late. Note: You cannot use late days on Assignment #7, which is due at the end of the quarter. After your late days for the quarter are exhausted, programs are assessed a late
penalty of one category point per late day used (a ✓+ turns into a ✓, and so forth). Late
days are valuable, and it pays to keep some around for the harder assignments toward the
end of the quarter. In all cases, assignments must be turned in within a calendar week of
their published due date.
					</p>

					<p>
						In special circumstances (such as extended medical problems or other emergencies),
extensions may be granted beyond the late days. To request an extension, send e-mail to
the TA (Megan Faulk <mfaulk@stanford.edu>) no later than 24 hours before the
program is due. Only the TA is authorized to approve such extensions. In particular, do
not ask your section leader.
					</p>
				</div>

				

				

			</div>
			<div class="col-sm-3">
				
				<div class="faq well">
					<h4 class="subheading">How Many Late Days?</h4>
					<p>
						Three late days. A “day” is defined as a class day.
					</p>

				</div>

			</div>

		</div>-->


	

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
