<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						CS109 Staff Office Hours
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
	      <div class="col-sm-12">
	      	<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3mqbnulnbdlhc95got0tsljhj0%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	      	<hr/>
	      </div>
	     </div>

		<div class="row">
	      <div class="col-sm-12">
	      	<h2>Staff</h2>
	      </div>
	     </div>

		<div class="row">
	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" src="{{pathToRoot}}img/people/chris.bmp" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>Professor: Chris Piech</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Thur 2-4pm<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/addisonWeiler.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>Head TA: Addison Weiler</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> alweiler@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" src="{{pathToRoot}}img/people/winnieLin.jpeg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Winnie Lin</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> wl1915@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/mattChen.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Matt Chen</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> mcc17@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>
	      
	      
	      
	    </div>

	    <div class="row">
	      
	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/zelunLuo.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Alan Luo</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> zelunluo@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/priyanka.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Priyanka Nigam</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> pnigam@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>
	      
	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/akshayAgrawal.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Akshay Agarwal</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> akshayka@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/antonApost.jpeg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Anton Apostolatos</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> antonaf@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>
	    </div>


		<div class="row">
	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" src="{{pathToRoot}}img/people/batman.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Justin Salloum</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> jsalloum@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/casey.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Casey Haaland</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> chaaland@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>
	      
	      <div class="col-sm-3 nopadding">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/batman.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: James Shapiro</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> james5@stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> TBA<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang
		      </div>
		    </div>
	      </div>
	      
	      
	      
	    </div>

		

		%include templates/parts/footer.html

	</div>

</body>
